* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

body {
  background: white;
  color: #444444;
  font-size: 100%;
}

blockquote {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
  position: relative;
  text-indent: -5px;
  width: 100%;
  z-index: 10;
}

@media screen and (min-width: 600px) {
  blockquote {
    font-size: 28px;
    margin-bottom: 15px;
    text-indent: -8px;
  }
}

h1 {
  color: #333333;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 42px;
  }
}

header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 75px;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  header {
    height: 100px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 675px;
  transform: translateY(-25%);
  width: 100%;
}

@media screen and (min-width: 600px) {
  img {
    max-width: 800px;
    transform: translateY(-10%);
  }
}

@media screen and (min-height: 1000px) {
  img {
    max-width: 1000px;
  }
}

.cell {
  bottom: 0px;
  color: white;
  left: 0;
  margin: 0 auto;
  max-width: 550px;
  padding: 20px 12%;
  position: absolute;
  right: 0;
}

@media screen and (min-width: 600px) {
  .cell {
    bottom: 20px;
    max-width: 625px;
    padding: 20px;
  }
}

.details {
  border-top: 2px solid white;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 0;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 600px) {
  .details {
    align-items: center;
    border-bottom: 2px solid white;
    border-top: none;
    flex-flow: row nowrap;
    font-size: 18px;
    justify-content: space-between;
  }
}

.details-artist {
  overflow: hidden;
  padding-right: 125px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details-number {
  font-size: 21px;
  line-height: 1;
}

@media screen and (min-width: 600px) {
  .details-number {
    font-size: 28px;
  }
}

.nav {
  bottom: 23px;
  color: white;
  font-size: 12px;
  position: fixed;
}
.nav--left {
  right: calc(10% + 55px);
}
.nav--right {
  right: 10%;
}
.nav--swipe {
  letter-spacing: 0.125em;
  padding-bottom: 8px;
  right: calc(10% + 20px);
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .nav {
    top: 52.5%;
  }
  .nav--left,
  .nav--right {
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    height: 100px;
    justify-content: center;
    transform: translateY(-50%);
    width: 50px;
  }
  .nav--left svg,
  .nav--right svg {
    height: auto;
    width: 35px;
  }
  .nav--left {
    left: 20px;
    right: auto;
  }
  .nav--right {
    right: 20px;
  }
  .nav--swipe {
    display: none;
  }
}

.row {
  align-items: center;
  background: #284747;
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 75px);
  justify-content: center;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .row {
    height: calc(100vh - 100px);
  }
}

.row::after {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
  bottom: 0;
  content: "";
  height: 250px;
  left: 0;
  position: absolute;
  right: 0;
}
